.home {
	h2 {
		color: $mainColor;
		margin-bottom: 20px;
	}
}


.top-games {
	// display: flex;
	// flex-wrap: wrap;
	// padding: 20px 0;
	// margin: 0 -10px;

	li {
		// display: flex;
		// flex-direction: column;
		// padding: 10px;
		max-width: 170px;
		border-radius: 5px;
		overflow: hidden;
		padding: 10px;
		box-shadow: 0 5px 15px rgba(black, .2);


		&:first-child {
			margin-left: 0 !important;
		}

		&:last-child {
			margin-right: 0 !important;
		}

		img {
			object-fit: cover;
			max-width: 100%;
			border-radius: 5px;
		}

		div.legend {
			width: 100%;
			padding: 20px 0;
			// padding: 20px;
			border-radius: 0 0 5px 5px;
			font-size: 1rem;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;

			.name {
				margin-bottom: 10px;
				font-weight: bold;
			}

			.viewers-count {
				font-size: .8em;
			}
		}
	}
}
