ul.menu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(white, 1);
	box-shadow: 0 0 5px rgba(black, .15);
	height: $menuHeight;
	list-style: none;

	.container {
		display: flex;
		justify-content: flex-start;
		// align-self: stretch;
		height: 100%;

	}
	.logo {
		font-size: .9rem;
		font-weight: bold;
		color: white;
		height: 100%;
		background-color: $mainColor;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 25px;
		text-transform: uppercase;
		margin-right: 25px;
	}

	li {
		display: flex;
		margin: 0 10px;


		a {
			text-decoration: none;
			font-size: .9rem;
			color: black;
			text-transform: uppercase;
			font-weight: bold;
			padding: 15px;
			align-self: center;

			&:hover {
				color: $mainColor;
			}
		}
	}
}
