#profile-content {

	.search {
		display: flex;
		justify-content:center;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	#profile-container {

		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.profile-infos {

			width: 200px;
			height: 150px;
			border-radius: 5px;
			overflow: hidden;
			padding: 10px;
			box-shadow: 0 5px 15px rgba(black, .2);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			text-align: center;

			.value {
				margin-bottom: 10px;
				font-weight: bold;
				font-size: 1.5em;
			}

			.name {
				font-weight: 1.2em;
			}
		}

		.profile-card {
			width: 250px;
			height: 200px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			.profile{
				border-radius: 50%;
				max-height: 120px;
				max-width: 120px;
				margin-bottom: 10px;
			}
		}
	}
}