.profile {

	h2 {
		color: $mainColor;
		margin-bottom: 20px;
	}

	.search {
		margin-bottom: 50px;
		margin-top: 50px;
	}

	#profile-container {

		div {
			width: 200px;
			height: 150px;
			border-radius: 5px;
			padding: 10px;
			text-align: center;
			margin-right: 20px;
			margin-left: 20px;
		}

		.profile-infos {

			overflow: hidden;
			box-shadow: 0 5px 15px rgba(black, .2);

			.value {
				margin-bottom: 10px;
				font-weight: bold;
				font-size: 1.5em;
			}

			.name {
				font-weight: 1.2em;
			}
		}

		.profile-card {

			.profile{
				border-radius: 50%;
				max-height: 110px;
				max-width: 110px;
				margin-bottom: 10px;
			}
		}
	}
}
